name: Deploy

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      path:
        required: false
        default: "."
        type: string
      python-version:
        required: false
        default: 3.9
        type: number
    secrets:
      azure_publish_profile:
        required: true

jobs:
  deploy:
    name: Deploy Function App
    runs-on: ubuntu-latest
    env:
      APP_NAME: ${{ inputs.name }}
      APP_PACKAGE_PATH: ${{ inputs.path }}
      PYTHON_VERSION: ${{ inputs.python-version }}
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@v3

      - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: "Resolve Project Dependencies Using Pip"
        shell: bash
        run: |
          pushd './${{ env.APP_PACKAGE_PATH }}'
          python -m pip install --upgrade pip
          pip install -r requirements.txt --target=".python_packages/lib/site-packages"
          popd
      - name: "Run Azure Functions Action"
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: ${{ env.APP_NAME }}
          package: ${{ env.APP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.azure_publish_profile }}
          respect-funcignore: true
